html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.menu {
  align-items: center;
  background-color: #4e4e4e;
  position: relative;
  padding: 13px 90px 16px 94px;
}
ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
li a {
  color: #ffffff;
  font-size: 18px;
  line-height: 21.09px;
  text-decoration: none;
  display: block;
}
.left {
  font-weight: 700;
}
.right {
  font-weight: 400;
  margin-right: 46px;
}
.spacer {
  flex: 1;
}
#inactive {
  cursor: not-allowed;
}
h2 {
  width: 577px;
  height: 46.11px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-top: 178px;
  position: relative;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 21px;
}
.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
.banner {
  background-image: url(106-1920x1080-blur_5.jpeg);
  height: calc(100vh - 50px);
}
.banner .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
}
.slogan {
  width: 276px;
  height: 23.13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-top: 63px;
  position: relative;
}
.button {
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  background: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  width: 164px;
  height: 40.74px;
  position: relative;
  margin-top: 57px;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}
.specialist {
  background-color: #f1f1f1;
  padding: 50px 0px;
}
.spec-title {
  width: 386px;
  height: 35px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #152d41;
  padding-top: 0px;
}
.photo {
  height: 197px;
  width: 197px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  margin-top: 78px;
}
#photo1 {
  background-color: #c4c4c4;
  background-image: url(mloda-kobieta-w-ciazy-z-dlugimi-ciemnymi-wlosami-w-tropikalnej-lokalizacji_1321-4055.jpg);
}
#photo2 {
  background-color: #907d7d;
  background-image: url(young-man-working-on-laptop-next-to-his-bike.jpg);
}
.text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  position: relative;
  margin-top: 78px;
}
.text1 {
  width: 698px;
  height: 104px;
  margin-left: 60px;
}
.text2 {
  width: 698px;
  height: 145px;
  text-align: right;
  margin-right: 60px;
}
.person {
  display: flex;
  align-items: center;
}
.person:nth-of-type(even) {
  flex-direction: row-reverse;
}
.person:nth-of-type(odd) {
  flex-direction: row;
}
.offer {
  background-color: #405d78;
  padding: 50px 0px;
}
.offer-title {
  width: 501px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding-top: 0px;
}
.item {
  width: 198px;
  height: 193.78px;
  background: #f1f1f1;
  flex-direction: row;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  position: relative;
}
.item:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 63px;
  justify-content: center;
  align-content: space-around;
  padding-top: 83px;
}
.point {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -10px;
  left: -10px;
}
footer {
  background: #4e4e4e;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 25px 82px 16px 94px;
}
.copyright {
  display: inline;
}
.icon {
  float: right;
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-size: 31px;
}
